# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db

# ===========================
# IDE / Editor
# ===========================
.idea/
.vscode/

# ===========================
# Rust
# ===========================
target/
Cargo.lock
