# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db

# ===========================
# IDE / Editor
# ===========================
.idea/
.vscode/

# ===========================
# Rust
# ===========================
target/
talon-release/
Cargo.lock

# ===========================
# AI Agents / IDEs
# ===========================
.agents
.cursor
.ida
.kiro
.windsurf
.docs
